@model IEnumerable<LibraryApp.Models.Libro>

<table class="table table-info">
    <thead>
        <tr>
            <th>Título</th>
            <th>Autor</th>
            <th>Disponible</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Titulo</td>
                <td>@item.Autor</td>
                <td>@(item.Disponible ? "Sí" : "No")</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>